<!DOCTYPE html>
<%- include('../partials/head'); %>


<body class="container">
    <%- include('../partials/header', {pagina: 'sobre'}); %>
    <main>
        <div class="jumbotrom">
            <h1>Sobre mim</h1>
            <p>Oi, sou Wendy Miller programadora do Metrópole digital</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>
</html>